@model IEnumerable<UCP1_PAW_080.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h1>Supplier</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nama Supplier")
            </th>
            <th>
                @Html.DisplayName("No Telepon")
            </th>
            <th>
                @Html.DisplayName("Alamat")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaSupplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoTelp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alamat)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSupplier"><i class="fas fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdSupplier"><i class="fas fa-info-circle"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdSupplier"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
